body{
  min-height: 100vh;
}
.bg{
  background-image: url("../assets/images/background_1.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
  .navbar {
    -webkit-box-shadow: 1px 1px 4px #5f6464;
            box-shadow: 1px 1px 4px #4c4f50;
    background: #fff;
   padding: 0px;

  }
  .divider{ margin-top:5px;
    margin-bottom:15px;
    height:1px;
    width:100%;
    border-top:2px solid rgb(209, 204, 204);

  }
  .blue{
    color: #5a8096;
  }
.navbar-brand{
   color: white;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: 'Bangers';
   text-shadow: 2px 1px 5px gray;
   background-color: #5a8096;
}
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 20px;
    padding-left: 20px;
  }
  .btn{
background-color: #5a8096;
color: white;
  }
  
  .navbar .nav-item .nav-link {
    color: #5a8096;
  }
  .navbar .nav-item .nav-link.active {
    color: #080808;
  }
  
  .navbar .nav-item .nav-link:hover {
    color: #080808;
  }
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.img-back-color {
  position: relative;

}


.img-text{
  position: absolute;
  background-color: #5a8096;
  text-align: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px gray;
  bottom: 7%;
  width: 100%;
  padding-bottom: 5px;

}

.text_back{
  background-color: white;
  margin: 5px;
  padding: 5px;

}
.hovereffect:hover img {
  opacity: 0.6;
}
a:hover, a:focus 
{ text-decoration: none;}

.footer{
  background-color: #5a8096;
}
  @media (max-width: 579px) {
   .navbar-text {
    text-align: center !important;
    margin-right: 10px;
    }

  }
  @media (max-width: 579px) {
    .navbar-brand{
      margin-right: 0px;
    }
  }
