body{
  background-image: url("../assets/images/background.jpg");
  height: 100%;
 background-size: cover;
 background-repeat: no-repeat;
}

  .navbar {
    -webkit-box-shadow: 1px 1px 4px #5f6464;
            box-shadow: 1px 1px 4px #4c4f50;
    background: #fff;
   padding: 0px;

  }
.navbar-brand{
   color: white;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: 'Bangers';
   text-shadow: 2px 2px #558ABB;;
}
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 20px;
  }
  
  .navbar .nav-item .nav-link {
    color: #5bc0de;
  }
  .navbar .nav-item .nav-link.active {
    color: #080808;
  }
  
  .navbar .nav-item .nav-link:hover {
    color: #080808;
  }
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 1px 1px 4px #5f6464;
}
.bottom{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px #558ABB;;
  
}
.img-back{
  position: relative;
  background-color:#5bc0de ;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  height: 30px;
}
  @media (max-width: 579px) {
   .navbar-text {
    text-align: center !important;
    margin-right: 10px;
    }

  }
  @media (max-width: 579px) {
    .navbar-brand{
      margin-right: 0px;
    }
  }