body{
  background-image: url("../assets/images/background.jpg");
  height: 100%;
 background-size: cover;
 background-repeat: no-repeat;
}

  .navbar {
    -webkit-box-shadow: 1px 1px 4px #5f6464;
            box-shadow: 1px 1px 4px #4c4f50;
    background: #fff;
   padding: 0px;

  }
.navbar-brand{
   color: white;
   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;
   font-family: 'Bangers';
}
  .navbar .nav-item {
    font-size: 1rem;
    padding-right: 20px;
  }
  
  .navbar .nav-item .nav-link {
    color: black;
  }
  .navbar .nav-item .nav:active {
    color: #a3271e;
  }
  
  .navbar .nav-item .nav-link:hover {
    color: #a3271e;
  }

  @media (max-width: 579px) {
   .navbar-text {
    text-align: center !important;
    margin-right: 10px;
    }

  }
  @media (max-width: 579px) {
    .navbar-brand{
      margin-right: 0px;
    }
  }